/*We will apply the CSS styling here seperately 
and link it to the page*/
/*External CSS*/

/*FOR HEADINGS*/
body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}
/*FOR HEADING*/
h1{
    text-align: center;
}

table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    cursor:pointer;
    border: 4px solid black;
}

th,td{
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4f1a2b;
    color: white;
}

tr:nth-child(even) {
    background-color: #e3caca;
}

tr:hover {
    background-color: #e8e0c9;
}
